DB_HOST=mongo
DB_PORT=27017
DB_NAME=sysvisual
DB_USERNAME=root
DB_PASSWORD=example
ALLOWED_HOSTS=http://localhost:5174,http://localhost:8080,http://localhost:5173
HOST=localhost
PORT=8080
FILE_UPLOAD_DEST=upload/
JWT_SECRET=mysecretforjwt
ENVIRONMENT=LOCAL