<!DOCTYPE html>
<html lang="${{ metadata_lang }}">
<head>
	<meta charset="UTF-8">
	<title>${{ metadata_title }}</title>
	<meta name="description" content="${{ metadata_description }}">

	<link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />

	<script>${{ buitlin_loaderscript }}</script>
</head>
<body>
	<h1>${{ metadata_title }}</h1>
	<main>
		$[[main]]
	</main>
</body>
</html>